<div class="clr-row clr-align-items-center hello-area">
  <div class="clr-col">
    <h1 class="hello-area__title">Welcome to @ng-lab packages.</h1>
    <p class="hello-area__info">
      @ng-lab packages are functional libraries to help you on logic, decision
      tasks, tools, structures, browser features. This packages can go from
      directives, services and components (very few), that will have an opinated
      API to you to use to maintain repeated task, wrapper browser features and
      others things where you can use in more friendly, innovated and angular
      way. You will find from configuration, url resolver, screen responsive,
      jwt and other things as describe in this website, demonstrating the usage
      of those packages.
    </p>
  </div>
</div>
<div class="clr-row packages-area">
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">
        Configurator
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img [src]="configuratorLogo" class="card-media-image" />
          <div class="card-media-description">
            <span class="card-media-title">
              @ng-lab/configurator
            </span>
            <span class="card-media-text">
              License: MIT
            </span>
            <span class="card-media-text">
              Dependencies: lodash
            </span>
          </div>
        </div>
        <div class="card-text">
          Configurator is an angular service where you can set/get
          all options or configs as a root (singleton) for all your app.
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link" href="">Read more</a>
        <img alt="@ng-lab/configurator" src="https://img.shields.io/npm/v/@ng-lab/configurator.svg?style=social">
      </div>
    </div>
  </div>
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">
        Support
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img [src]="supportLogo" class="card-media-image" />
          <div class="card-media-description">
            <span class="card-media-title">
              @ng-lab/support
            </span>
            <span class="card-media-text">
              License: MIT
            </span>
            <span class="card-media-text">
              Dependencies: none
            </span>
          </div>
        </div>
        <div class="card-text">
          Support is a collection of common functions to help you
          and continues grow, also it is used on other ng-lab packages
          as a dependency.
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link" href="">Read more</a>
        <img alt="@ng-lab/configurator" src="https://img.shields.io/npm/v/@ng-lab/support.svg?style=social">
      </div>
    </div>
  </div>
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">
        JWT
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img [src]="jwtLogo" class="card-media-image" />
          <div class="card-media-description">
            <span class="card-media-title">
              @ng-lab/jwt
            </span>
            <span class="card-media-text">
              License: MIT
            </span>
            <span class="card-media-text">
              Dependencies: @ng-lab/support
            </span>
          </div>
        </div>
        <div class="card-text">
          JWT is an angular service to help you on decode
          valid token and also checking expiration to provide
          renovation mecanism.
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link" href="">Read more</a>
        <img alt="@ng-lab/jwt" src="https://img.shields.io/npm/v/@ng-lab/jwt.svg?style=social">
      </div>
    </div>
  </div>
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">
        Responsive
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img [src]="responsiveLogo" class="card-media-image" />
          <div class="card-media-description">
            <span class="card-media-title">
              @ng-lab/responsive
            </span>
            <span class="card-media-text">
              License: MIT
            </span>
            <span class="card-media-text">
              Dependencies: @ng-lab/support
            </span>
          </div>
        </div>
        <div class="card-text">
          Responsive is an angular directive to define
          media breakpoints, listen for changes and trigger event when
          resize happens on the page.
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link" href="">Read more</a>
        <img alt="@ng-lab/responsive" src="https://img.shields.io/npm/v/@ng-lab/responsive.svg?style=social">
      </div>
    </div>
  </div>
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">
        Hub
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img [src]="hubLogo" class="card-media-image" />
          <div class="card-media-description">
            <span class="card-media-title">
              @ng-lab/hub
            </span>
            <span class="card-media-text">
              License: MIT
            </span>
            <span class="card-media-text">
              Dependencies: none
            </span>
          </div>
        </div>
        <div class="card-text">
          Hub is an angular service pub/sub where
          you can register channels and dispatch/listen
          custom events.
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link" href="">Read more</a>
        <img alt="@ng-lab/hub" src="https://img.shields.io/npm/v/@ng-lab/hub.svg?style=social">
      </div>
    </div>
  </div>
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">
        Http-Script
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img [src]="httpScriptLogo" class="card-media-image" />
          <div class="card-media-description">
            <span class="card-media-title">
              @ng-lab/http-script
            </span>
            <span class="card-media-text">
              License: MIT
            </span>
            <span class="card-media-text">
              Dependencies: none
            </span>
          </div>
        </div>
        <div class="card-text">
          Http-Script is an angular service to register and load external
          javascript libraries.
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link" href="">Read more</a>
        <img alt="@ng-lab/http-script" src="https://img.shields.io/npm/v/@ng-lab/http-script.svg?style=social">
      </div>
    </div>
  </div>
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">
        Http-Url
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img [src]="httpUrlLogo" class="card-media-image" />
          <div class="card-media-description">
            <span class="card-media-title">
              @ng-lab/http-url
            </span>
            <span class="card-media-text">
              License: MIT
            </span>
            <span class="card-media-text">
              Dependencies: @ng-lab/configurator, @ng-lab/support
            </span>
          </div>
        </div>
        <div class="card-text">
          Http-Url is an angular service to define urls
          and resolve them with or without parameters.
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link" href="">Read more</a>
        <img alt="@ng-lab/http-url" src="https://img.shields.io/npm/v/@ng-lab/http-url.svg?style=social">
      </div>
    </div>
  </div>
</div>
