<div class="ui-hero" *ngIf="(home$ | async) as home">
  <h1 class="ui-hero__title">{{home.title}}</h1>
  <p class="ui-hero__info">{{home.description}}</p>
</div>
<section class="ui-section">
  <div class="ui-card">
    <div class="ui-card__header">Configurator</div>
    <div class="ui-card__media">
      <img src="./assets/cg-logo.svg" alt="configurator" />
    </div>
    <div class="ui-card__description">
      Configurator is an angular service where you can set/get all options or
      configs as a root (singleton) for all your app.
    </div>
    <div class="ui-card__footer">
      <a class="btn btn-sm btn-link" href="">Read more</a>
      <img
        alt="@ng-lab/configurator"
        src="https://img.shields.io/npm/v/@ng-lab/configurator.svg?style=social"
      />
    </div>
  </div>
</section>
