<ui-layout-area
  [flexGrow]="0"
  [width]="'300px'"
  class="ui-sidebar"
  [uiLayoutResizer]="edgeSettings"
  ngResponsive
  (responsiveChange)="handlerResponsiveChange($event)"
>
  <header class="ui-sidebar__header">
    <img class="logo" src="./assets/lab-logo.svg" alt="@ng-lab" />
  </header>
  <nav class="ui-sidebar__nav">
    <h3 class="ui-sidebar__title">Packages</h3>
    <p style="margin-top: 0.2rem;">
      Responsive Breakpoint: {{ (responsive$ | async)?.key }} with size -
      {{ (responsive$ | async)?.width }} <br />
      <i>Resize your window to see breakpoints</i>
    </p>
    <ul>
      <li>
        <a>Configurator</a>
      </li>
      <li>
        <a>Http Script</a>
      </li>
      <li>
        <a>Http Url</a>
      </li>
      <li>
        <a>Hub</a>
      </li>
      <li>
        <a>JWT</a>
      </li>
      <li>
        <a>Layout</a>
      </li>
      <li>
        <a>Responsive</a>
      </li>
      <li>
        <a>Support</a>
      </li>
    </ul>
  </nav>
</ui-layout-area>
<ui-layout-area [flexGrow]="1">
  <section class="code-card">
    <ng-lab-code lang="typescript" [snippet]="configExample"></ng-lab-code>
  </section>
  <router-outlet></router-outlet>
</ui-layout-area>
