:host {
  display: flex;
  width: 100vw;
  height: 100vh;

  .ui-sidebar {
    background: #fefefe;
    color: #90969f;
    box-shadow: inset -10px 0 10px -5px #eff1ef;

    &__header {
      display: flex;
      justify-content: center;
    }

    &__title {
      padding: 0 24px;
      color: #7b818a;
    }
  }

  .code-card {
    margin: 25px;
  }

  .ui-content {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100%;
  }

  .ui-bar {
    background-color: #46b04a;

    .logo {
      transform: rotateZ(90deg) translate(35px, 39px);
      z-index: 1;
      width: 116px;
    }
  }
}
