:host {
  .ui-banner {
    display: flex;
    align-items: center;
    background-color: #45b04a;
    color: white;
    padding: 2%;

    &__logo {
      width: 100%;
      max-width: 180px;
      height: auto;
    }
  }
}
